<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/admin.css">
<title>시작 페이지</title>
<script src="/js/admin.js"></script>

</head>
<body>
	<div class="mainBanner">
		<p class="mainBannerContent">관리자 메인</p>
	</div>

	<div class="mainWrapper">
		<div class="mainMenubar">
			<div class="MainMenu HomeMenu" onclick="selectMenu(this);" id="17">
				<i class="fa fa-home fa-3x MainMenuIcon" aria-hidden="true"></i>
			</div>
			<div class="MainMenu" onclick="selectMenu(this);" id="18">
				<i class="fa fa-address-book fa-3x MainMenuIcon" aria-hidden="true"></i>
			</div>
			<div class="MainMenu" onclick="selectMenu(this);" id="19">
				<i class="fa fa-bars fa-3x MainMenuIcon" aria-hidden="true"></i>
			</div>
			<div class="MainMenu" onclick="selectMenu(this);" id="20">
				<i class="fa fa-envelope fa-3x MainMenuIcon" aria-hidden="true"></i>
			</div>
			<div class="MainMenu" onclick="selectMenu(this);" id="21">
				<i class="fa fa-question-circle fa-3x MainMenuIcon"
					aria-hidden="true"></i>
			</div>
		</div>
		<div class="mainSection">
			<div class="mainContent">
				<div class="pagingVO"></div>
			</div>
		</div>
	</div>
</body>

</html>