<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.ISP.dao.LikeMoimDAO">
	
	<!-- 찜한 모임 저장하기 -->
	<insert id="insert" parameterType="LikeMoimVO">
		insert into likeMoim values
		(like_idx_seq.nextval, #{user_idx}, #{moim_idx})
	</insert>
	
	<!-- 유저당 찜한 모임 여러개 가져오기 -->
	<select id="selectByUser" parameterType="int" resultType="LikeMoimVO">
		select * from likeMoim where user_idx=#{user_idx}
	</select>
	
	
	<!-- 유저가 찜한 모임 갯수 가져오기 -->
	<select id="selectCountByUser" parameterType="int" resultType="int">
		select count(*) from likeMoim where user_idx=#{user_idx}
	</select>
	
	<!-- 모임에 대한 찜의 갯수 가져오기 -->
	<select id="selectCountByMoim" parameterType="int" resultType="int">
		select count(*) from likeMoim where moim_idx=#{moim_idx}
	</select>
	
	<!-- 찜 삭제하기 08/19금 새롬걸로 수정-->
	<delete id="delete" parameterType="int">
		delete from likeMoim where user_idx = #{user_idx} 
	</delete>
	
	
	
	<select id="selectList" parameterType="hashmap" resultType="LikeMoimVO">	
		select
			R.*
		from
			( select 
				rownum rnum, Q.*
			  from	
				(select * from likeMoim order by like_idx desc) Q
			  where
			  	<![CDATA[
			  	rownum  <= #{endNo}
			  	]]>
			) R
		where
			<![CDATA[
			rnum  >= #{startNo}
			]]>
	</select>
	
</mapper>