<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="cmm/layout_login">
<head>
<meta charset="UTF-8">
<title>회원가입</title>

<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script type="text/javascript">
	$(function(){
		

		
		$("#checkId").click(function(){
			var user_id = $("#Email").val();
			$.ajax({
				url:'emailCheck',
				method:'POST',
				enctype :'multipart/form-data',
				data : { user_id : user_id
				},
				cache : false,
				success:function(data){
					if(data){
						alert("가입된 회원입니다.")
					}else{
						alert("가입되지 않은 회원입니다.")
					}
				},
				error:function(data){
					
				}
			});
			
		});
		
		
        $("#alert-success").hide();
        $("#alert-danger").hide();
        $("#pwd1").keyup(function(){
            $("#alert-success").hide();
            $("#alert-danger").hide();
        });
        $("#pwd2").keyup(function(){
            var pwd1=$("#pwd1").val();
            var pwd2=$("#pwd2").val();
            if(pwd1 != "" || pwd2 != ""){
                if(pwd1 == pwd2){
                    $("#alert-success").show();
                    $("#alert-danger").hide();
                    $("#submit").removeAttr("disabled");
                }else{
                    $("#alert-success").hide();
                    $("#alert-danger").show();
                    $("#submit").attr("disabled", "disabled");
                    
                }    
            }
        });
        
        
        
        var now = new Date();
        var year = now.getFullYear();
        var mon = (now.getMonth() + 1) > 9 ? ''+(now.getMonth() + 1) : '0'+(now.getMonth() + 1); 
        var day = (now.getDate()) > 9 ? ''+(now.getDate()) : '0'+(now.getDate());           
        //년도 selectbox만들기               
        for(var i = 1900 ; i <= year ; i++) {
            $('#year').append('<option value="' + i + '">' + i + '</option>');    
        }

        // 월별 selectbox 만들기            
        for(var i=1; i <= 12; i++) {
            var mm = i > 9 ? i : "0"+i ;            
            $('#month').append('<option value="' + mm + '">' + mm + '</option>');    
        }
        
        // 일별 selectbox 만들기
        for(var i=1; i <= 31; i++) {
            var dd = i > 9 ? i : "0"+i ;            
            $('#day').append('<option value="' + dd + '">' + dd+ '</option>');    
        }
        $("#year  > option[value="+year+"]").attr("selected", "true");        
        $("#month  > option[value="+mon+"]").attr("selected", "true");    
        $("#day  > option[value="+day+"]").attr("selected", "true"); 

    
	});

	
		
	
	// 생년월일 0000/00/00  구현
	function handleOnChange1(e) {
		  // 선택된 데이터 가져오기
		  const value = e.value +"/";
		  
		  // 데이터 출력
		  document.getElementById('result').innerText
		    = value;
		  $("#result").hide();
	}
	function handleOnChange2(e) {
		var test = $("#result").text();
		const value = e.value;
		test = test + value + "/";
		document.getElementById('result').innerText
	    =  test;
	}
	function handleOnChange3(e) {
		var test = $("#result").text();
		const value = e.value;
		test = test + value;
		  // 데이터 출력
		  document.getElementById('result').innerText
		    = test;
		var check = $("#result").text();  
		var $user_test = $("#result").text();
		$('#hidden_birth').append('<input type="hidden" id="user_birth" name="user_birth" class="form-control">');
		$('#user_birth').val(check);
	}
	

	


</script>
<style>
	.btnDel:after{
		content:"     x";
		margin-right:10px;
	}
	.info {
	width: 98%;
	padding: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15pt;
	}
	.active{background-color:#ffff00;}
	.active2{background-color:#b0c4de;}
	.id_ok{color:#fff; display: none;}
	.id_already{color:#6A82FB; display: none;}
	

</style>
</head>
<body>

	
	<div class="signUp_wrapper" style="margin-left: 30%; margin-right: 30%">
		<h4 style="font-size: 40px;">회원가입</h4>
		<a th:href="@{/select}" class="btn btn-outline-secondary" role="button" style="margin-left: 10%; margin-right: 10%; width:80%; margin-bottom: 2%; b">KaKao로 회원가입</a>
		<a th:href="@{/select}" class="btn btn-outline-secondary" role="button" style="margin-left: 10%; margin-right: 10%; width:80%; margin-bottom: 2%;">네이버로 회원가입</a>
		<hr style="height: auto; width: 100%; border-bottom:5px solid pink;"/>
        <div class="mb-3 row">
        	<h3 style="color: blue; ">필수정보</h3>
        </div>
        <form method="post" action="/login/signUp_inform">
			<div class="mb-3 row">
				<label for="Email" class="col-sm-3 col-form-label">이메일 아이디</label>
			    <div class="col-sm-6">
			      <input type="email" class="form-control" id="Email" name="user_id" placeholder="example@email.com" required/>
			    </div>
			    <div class="col-sm-3">		    
			    <button class="btn btn-secondary btn-sm-2" id="checkId" type="button">중복확인</button></div>	
			
			</div>
			<div class="mb-3 row">
				<label for="Password" class="col-sm-3 col-form-label" >비밀번호</label>
			    <div class="col-sm-9">
			      <input type="password" class="form-control" id="pwd1" name="pwd1" placeholder="비밀번호 입력" required/>
			    </div>
			</div>
			<div class="mb-3 row">
				<label for="CheckPassword" class="col-sm-3 col-form-label">비밀번호 확인</label>
			    <div class="col-sm-9">
			      <input type="password" class="form-control" id="pwd2" name="user_pwd" placeholder="비밀번호를 다시 입력해주세요." required/>
			    </div>
			</div>
			<div class="mb-3 row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
					<div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>
				</div>
			</div>
			<div class="mb-3 row">
				<label for="name" class="col-sm-3 col-form-label">이름</label>
			    <div class="col-sm-9">
			      <input type="text" class="form-control" id="name" name="user_name" placeholder="이름을 입력하세요." required/>
			    </div>
			</div>
			<div class="mb-3 row">
				

			</div>
			
		    <div class="mb-3 row">
				<label for="sex" class="col-sm-3 col-form-label">성별</label>
			    <div class="col-sm-9">
			    	<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="user_gender" id="sex-1" value="M">
						<label class="form-check-label" for="sex-1">남</label>
					</div>
					<div class="form-check form-check-inline">
						 <input class="form-check-input" type="radio" name="user_gender" id="sex-2" value="W">
						 <label class="form-check-label" for="sex-2">여</label>
					</div>
			    </div>
			</div>
			
		    <div class="mb-3 row">
				<label for="phoneNumber" class="col-sm-3 col-form-label">휴대전화번호</label>
			    <div class="col-sm-9">
			    	<input type="text" id = "phoneNumber" name="user_phone" class="form-control" placeholder="휴대전화번호(-생략)" autocomplete="off" required/>
			    </div>
			</div>
			<div class="mb-3 row">
				<label for="birthDate" class="col-sm-3 col-form-label">생년월일</label>
			    <div class="col-sm-9">
			    	<select name="yy" id="year" style="width:20%;" onchange="handleOnChange1(this)"></select>년
					<select name="mm" id="month" style="width:10%;" onchange="handleOnChange2(this)"></select>월
					<select name="dd" id="day" style="width:10%;" onchange="handleOnChange3(this)"></select>일
			    </div>

			  	
			</div>
			<span id="result">
			 </span>
			<div id="hidden_birth">
			</div>
			
			<!-- 
			<div class="mb-3 row">
				<label for="birthDate" class="col-sm-3 col-form-label">생년월일</label>
				<div class="col-sm-9">
					<input type="text" id = "user_birth" name="user_birth" class="form-control" placeholder="0000/00/00" autocomplete="off" required/>
				</div>
			</div>
			 -->

			<div align="right"> 
				<button type="submit" name='btn' id='btn' class="btn btn-primary btn-large form-control" style="width:20%; height:10%;">다음단계</button>
			</div>
		</form>
	</div>




</body>
</html>